/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) 

	.slider
	
		.owl-nav
			display: block

			.owl-prev, .owl-next
				height: 35px
				width: 35px
				top: 45%

		.slider-info

			h1
				font-size: 46px
				line-height: 48px
				margin-bottom: 15px

			p
				font-size: 20px
				line-height: 26px
				margin-bottom: 30px

			.slider-button
				font-size: 20px
				line-height: 22px
				padding: 12px 40px

	#team,
	#services,
	#contacts
		padding: 50px 0

	#team

		h2
			margin-bottom: 65px

		.team-item

			.photo
				margin-bottom: 35px

			.overlay
				height: 36px
				width: 37px

			h3
				font-size: 20px
				line-height: 24px

	#contacts
	
		.contact-item

			#form

				.form-button
					font-size: 20px
					line-height: 22px
					padding: 12px 50px
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

	.container
		padding: 0 30px
	
	#header
	
		.logo
			padding: 20px 0

	#nav

		.main-menu-button
			display: block

		ul 
			display: none 
			position: absolute	
			top: 70px	
			right: 0 
			background: #fff
			z-index: 3

			li 
				display: block
				text-align: center 
				margin: 12px 0	
				padding: 0 100px

				a
					padding: 5px 10px
					border-bottom: 2px solid #fff

					&:hover
						background: transparent
						border-bottom: 2px solid #49cbcd

	.slider

		.slider-info

			h1
				font-size: 40px
				line-height: 42px
				margin-bottom: 10px

			p
				font-size: 18px
				line-height: 24px
				margin-bottom: 20px

			.slider-button
				font-size: 18px
				line-height: 22px
				padding: 10px 30px

	#team

		.team-item

			.overlay
				height: 41px
				width: 42px
	
	#team .team-item,
	#services .service-item,
	#contacts .contact-item,
	#contacts .contact-item #form .form-item
		float: none
		display: block
		width: 100%
		margin: 0 0 30px

	#team,
	#services,
	#contacts
		padding: 40px 0

		h2
			font-size: 34px
			line-height: 36px
			margin-bottom: 40px

	#contacts

		.contact-item

			#form 

				textarea.form-item
					margin: 0 0 30px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) 
	
	.container
		padding: 0 15px

	#nav

		.main-menu-button
			right: 15px

	.slider
	
		.owl-nav
			display: block

			.owl-prev, .owl-next
				height: 30px
				width: 30px
				top: 40%

		.slider-info
			padding: 0 30px

			h1
				font-size: 24px
				line-height: 26px
				margin-bottom: 10px

			p
				font-size: 14px
				line-height: 18px
				margin-bottom: 15px

			.slider-button
				font-size: 14px
				line-height: 16px
				padding: 5px 20px
				border: 1px solid #fff



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)