
@font-face {
  font-family: 'OpenSans-ExtraboldItalic';
  src: url('OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),  url('OpenSans-ExtraboldItalic.woff') format('woff'), url('OpenSans-ExtraboldItalic.ttf')  format('truetype'), url('OpenSans-ExtraboldItalic.svg#OpenSans-ExtraboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
