
@font-face {
  font-family: 'WCManoNegraBta';
  src: url('WCManoNegraBta.eot?#iefix') format('embedded-opentype'),  url('WCManoNegraBta.woff') format('woff'), url('WCManoNegraBta.ttf')  format('truetype'), url('WCManoNegraBta.svg#WCManoNegraBta') format('svg');
  font-weight: normal;
  font-style: normal;
}
