/*==========  Desktop First Method  ==========*/

@media only screen and (max-width : 1300px)
	
	.menu_button_wrapper
		top: 40px
		right: 80px
	
	#reviewer
	
		#reviewer_slider
			
			.owl-nav
						
				.owl-prev
					left: 0
			
				.owl-next
					right: 0

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.menu_button_wrapper
		right: 40px

	#services
		
		.service_item
			padding: 0 30px
	
	#works

		.work_item
			
			.work_info
				padding: 0 10px
			
				h3
					margin: 0 0 15px

				p
					margin: 0 0 20px

				a
					padding: 0 20px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.modal-dialog

		.modal-content
			padding: 20px 20px 30px

	#services
		
		.service_item
			padding: 0 15px

	#works

		.work_item
			
			.work_info
				
				h3
					font-size: 20px

	#reviewer
	
		#reviewer_slider
			
			.owl-nav
						
				.owl-prev
					left: -10px
			
				.owl-next
					right: -10px				
	

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.menu_button_wrapper
		top: 20px
		right: 30px

	.description
		margin: 0 0 50px

	#services,
	#newsletter .dark_bg,
	#works,
	#reviewer .dark_bg,
	#team,
	#contact .dark_bg
		padding: 50px 0
	

	#header
		height: 100vh
		
		.dark_bg
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center

		.about
			height: 100%
			margin: 0

			h1
				font-size: 40px
				margin: 0 0 15px

			p
				font-size: 18px
				margin: 0 0 20px

			a
				padding: 0 20px
				margin: 0 5px
			
			a:first-child
				margin-left: 0

			a:last-child
				margin-right: 0
		
		.arrow_down
			bottom: 20px

	.main_menu

		.main_menu_items
			margin: 0
			border-bottom: none
			
			li
				margin: 0 0 20px

			li:last-child
				margin: 0

		.social_contact
			display: none

	#services

		.service_item
			margin: 0 0 50px

			.img_box
				margin: 0 0 20px

			h3
				margin: 0 0 20px

		.service_item:last-child
			margin: 0

	#works
		
		.first_works_box, .second_works_box
			margin-bottom: 0

		.work_item
			margin: 0 0 30px
	
	#reviewer
	
		#reviewer_slider
			
			.comment_author
				margin: 0 0 20px

			.comment_text
				max-width: 380px

				p
					font-size: 18px
					margin: 0 0 20px

				span
					display: inline-block
					font-size: inherit
					margin: 0 0 20px
				
			.owl-nav
						
				.owl-prev
					left: 10px
			
				.owl-next
					right: 10px

	#contact

		.form
			
			.contact_btn
				margin: 0 0 40px
				
			.social_contact_wrapper
				text-align: center

			.social_contact
				float: none
				display: inline-block
	
	#footer
		padding: 20px 0

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.menu_button_wrapper
		right: 20px

	.modal-dialog

		.modal-content
			padding: 20px 10px 30px

	#header

		.about

			h1
				font-size: 40px

			p
				font-size: 18px

			a
				padding: 0 20px
				margin: 0 5px
		
		
	#contact

		.form

			.social_contact
				
				li
					margin: 0 0 0 7px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
