
@font-face {
  font-family: 'OpenSansLight-Italic';
  src: url('OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),  url('OpenSansLight-Italic.woff') format('woff'), url('OpenSansLight-Italic.ttf')  format('truetype'), url('OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
